<table border="1" cellpadding="1" cellspacing="1" class="table table-bordered table-striped table-responsive">
	<thead>
		<tr>
			<td>Event / Contact</td>
			<td>Day</td>
			<td>Venue (City)</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ICP Workshop <br> <a href="mailto:Johan.Gillespie@spenergynetworks.co.uk">Johan.Gillespie@spenergynetworks.co.uk</a>
      </td>
			<td>6th Feb 2018</td>
			<td>Delaine house Cumbernauld</td>
		</tr>
		<tr>
			<td>Connections Stakeholder Panel <br> <a href="mailto:stuart.walker@spenergynetworks.co.uk">stuart.walker@spenergynetworks.co.uk</a>
      </td>
			<td>1st March 2018</td>
			<td>Central Hotel Glasgow</td>
		</tr>
	</tbody>
</table>


<table border="1" cellpadding="1" cellspacing="1" class="table table-bordered table-striped table-responsive">
	<thead>
		<tr>
			<td>Event / Contact</td>
			<td>Day</td>
			<td>Venue (City)</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CiC Workshop <br> <a href="mailto:Louise.Edwards@spenergynetworks.co.uk">Louise.Edwards@spenergynetworks.co.uk</a>
      </td>
			<td>28th Feb 2018</td>
			<td>Liverpool</td>
		</tr>

	</tbody>
</table>
